Test-ejb/src/wsdl/PagosElectronicosSrvPort.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<definitions xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://view.shd.gov.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://view.shd.gov.co/" name="PagosElectronicosSrv">
<wsp:UsingPolicy wssutil:Required="true"/>
    <wsp1_2:Policy wssutil:Id="Mtom.xml">
            <ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
    </wsp1_2:Policy>
    <wsp:Policy wssutil:Id="PagosElectronicosSrvPortBinding_MTOM_Policy-PagosElectronicosSrvPortBinding_MTOM_Policy">
        <ns2:OptimizedMimeSerialization xmlns:ns2="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
    </wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://view.shd.gov.co/" schemaLocation="PagosElectronicosSrvPort.xsd"/>
</xsd:schema>
</types>
<message name="obtenerEmision">
<part name="parameters" element="tns:obtenerEmision"/>
</message>
<message name="obtenerEmisionResponse">
<part name="parameters" element="tns:obtenerEmisionResponse"/>
</message>
<message name="obtenerLiquidacionesSujeto">
<part name="parameters" element="tns:obtenerLiquidacionesSujeto"/>
</message>
<message name="obtenerLiquidacionesSujetoResponse">
<part name="parameters" element="tns:obtenerLiquidacionesSujetoResponse"/>
</message>
<message name="obtenerLiquidacionesSujetoVig">
<part name="parameters" element="tns:obtenerLiquidacionesSujetoVig"/>
</message>
<message name="obtenerLiquidacionesSujetoVigResponse">
<part name="parameters" element="tns:obtenerLiquidacionesSujetoVigResponse"/>
</message>
<message name="obtenerLiquidacionesXObjeto">
<part name="parameters" element="tns:obtenerLiquidacionesXObjeto"/>
</message>
<message name="obtenerLiquidacionesXObjetoResponse">
<part name="parameters" element="tns:obtenerLiquidacionesXObjetoResponse"/>
</message>
<message name="obtenerLiquidacionesXReferencia">
<part name="parameters" element="tns:obtenerLiquidacionesXReferencia"/>
</message>
<message name="obtenerLiquidacionesXReferenciaResponse">
<part name="parameters" element="tns:obtenerLiquidacionesXReferenciaResponse"/>
</message>
<portType name="PagosElectronicosSrv">
<operation name="obtenerEmision">
<input wsam:Action="http://view.shd.gov.co/PagosElectronicosSrv/obtenerEmisionRequest" message="tns:obtenerEmision"/>
<output wsam:Action="http://view.shd.gov.co/PagosElectronicosSrv/obtenerEmisionResponse" message="tns:obtenerEmisionResponse"/>
</operation>
<operation name="obtenerLiquidacionesSujeto">
<input wsam:Action="http://view.shd.gov.co/PagosElectronicosSrv/obtenerLiquidacionesSujetoRequest" message="tns:obtenerLiquidacionesSujeto"/>
<output wsam:Action="http://view.shd.gov.co/PagosElectronicosSrv/obtenerLiquidacionesSujetoResponse" message="tns:obtenerLiquidacionesSujetoResponse"/>
</operation>
<operation name="obtenerLiquidacionesSujetoVig">
<input wsam:Action="http://view.shd.gov.co/PagosElectronicosSrv/obtenerLiquidacionesSujetoVigRequest" message="tns:obtenerLiquidacionesSujetoVig"/>
<output wsam:Action="http://view.shd.gov.co/PagosElectronicosSrv/obtenerLiquidacionesSujetoVigResponse" message="tns:obtenerLiquidacionesSujetoVigResponse"/>
</operation>
<operation name="obtenerLiquidacionesXObjeto">
<input wsam:Action="http://view.shd.gov.co/PagosElectronicosSrv/obtenerLiquidacionesXObjetoRequest" message="tns:obtenerLiquidacionesXObjeto"/>
<output wsam:Action="http://view.shd.gov.co/PagosElectronicosSrv/obtenerLiquidacionesXObjetoResponse" message="tns:obtenerLiquidacionesXObjetoResponse"/>
</operation>
<operation name="obtenerLiquidacionesXReferencia">
<input wsam:Action="http://view.shd.gov.co/PagosElectronicosSrv/obtenerLiquidacionesXReferenciaRequest" message="tns:obtenerLiquidacionesXReferencia"/>
<output wsam:Action="http://view.shd.gov.co/PagosElectronicosSrv/obtenerLiquidacionesXReferenciaResponse" message="tns:obtenerLiquidacionesXReferenciaResponse"/>
</operation>
</portType>
<binding name="PagosElectronicosSrvPortBinding" type="tns:PagosElectronicosSrv"><wsp:PolicyReference URI="#Mtom.xml"/>
<wsp:PolicyReference URI="#PagosElectronicosSrvPortBinding_MTOM_Policy-PagosElectronicosSrvPortBinding_MTOM_Policy"/>
<wsp:PolicyReference URI="#Mtom.xml"/>
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="obtenerEmision">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="obtenerLiquidacionesSujeto">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="obtenerLiquidacionesSujetoVig">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="obtenerLiquidacionesXObjeto">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="obtenerLiquidacionesXReferencia">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
</binding>
<service name="PagosElectronicosSrv">
<port name="PagosElectronicosSrvPort" binding="tns:PagosElectronicosSrvPortBinding">
<soap12:address location="http://10.180.4.68:80/WS_PagosElectronicos/PagosElectronicosSrvPort"/>
</port>
</service>
</definitions>