Test-ejb/src/wsdl/10.25.1.37_7001/WS_Prueba-ViewController-context-root/FrontServicePort.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><xsd:schema xmlns:ns0="http://servicio.pruebas.tecnocom.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://servicio.pruebas.tecnocom.com/"><xsd:complexType name="Hello"/><xsd:complexType name="HelloResponse"/><xsd:complexType name="sayHello"><xsd:sequence><xsd:element name="arg0" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="sayHelloResponse"><xsd:sequence><xsd:element name="return" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:element name="Hello" type="ns0:Hello"/><xsd:element name="HelloResponse" type="ns0:HelloResponse"/><xsd:element name="sayHello" type="ns0:sayHello"/><xsd:element name="sayHelloResponse" type="ns0:sayHelloResponse"/></xsd:schema>